*{
	box-sizing: border-box;
}
h1{
	text-align: center;
}
article{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	float: right;
	padding: 3px 20px 3px 20px;
}
p{
	clear: right;
	margin: 10px;
}
section{
	border: 1px solid black;
	margin: 10px;
	background-color: gray;
}
#Chicken{
	background-color: #f46bf5;
}
#Beef{
	background-color: #dd1366;
}
#Sushi{
	background-color: #f2f561;
}
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		float: left;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}

@media (max-width: 767px){
	.sm12{
		float: left;
		width: 100%;
	}
}